.DS_Store
.idea
*.vcd
*.fst
*.fst.hier
canary_logs.zip
xvlog.pb
runs
tt_submission
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
canary/logs/
canary_logs_txt/
